<div class="about_section">
    <div class="about_timeline">
        <div class="about_container about_left">
            <div class="about_content">
                <h2>Mar 2023</h2>
                <p>Start my coding journey</p>
            </div>
        </div>
        <div class="about_container about_right">
            <div class="about_content">
                <h2>Apr 2023</h2>
                <p>Learn my first language Javascript</p>
            </div>
        </div>
        <div class="about_container about_left">
            <div class="about_content">
                <h2>Nov 2023</h2>
                <p>Start learning about advanced topics</p>
            </div>
        </div>
        <div class="about_container about_right">
            <div class="about_content">
                <h2>Jan 2024</h2>
                <p>Learn frontend library like ReactJS (Not interested)</p>
            </div>
        </div>
        <div class="about_container about_left">
            <div class="about_content">
                <h2>Mar 2024</h2>
                <p>Interested in backend and Learn ExpressJS</p>
            </div>
        </div>
    </div>
</div>