<div class="hero_section">
    <div class="author">
        <h2 class="author_heading">Hi, I am Rabindra Kumar Meher</h2>
        <h3 class="author_body"><span id="element"></span></h3>
        <div class="tools">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                <img src="/icons/javascript.svg" alt="" class="svg" height="60" width="60">
            </a>
            <a href="https://docker.com">
                <img src="/icons/docker.svg" alt="" class="svg" height="50" width="50">
            </a>
            <a href="https://postman.com">
                <img src="/icons/postman.svg" alt="" class="svg" height="50" width="50">
            </a>
            <a href="https://linux.org">
                <img src="/icons/linux.svg" alt="" class="svg" height="50" width="50">
            </a>
        </div>
    </div>
    
    <div class="hero_img">
        <img src="/img/hero_image.png" alt="person looking out through window" class="hero-image" width="350" height="350">
    </div>
</div>

<section class="articles">
    <h2 class="articles_heading">Latest Projects</h2>

    <ul class="article-ul">
        <% repos.forEach(repo=> { %>

            <li>
                <a href="<%= repo.html_url %>">
                    <span>
                        <%= repo.name %>
                    </span>
                    <span class="repo-list_date">
                        <% const updatedAtDate=new Date(repo.updated_at); %>
                            <%= updatedAtDate.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>
    </ul>

    <a href="https://github.com/rabindra789?tab=repositories" class="pagination">&lt; View Older Projects</a>


</section>